@model Pedalea.WebApp.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroPedido" class="control-label"></label>
                <input asp-for="NumeroPedido" class="form-control" />
                <span asp-validation-for="NumeroPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionEnvio" class="control-label"></label>
                <input asp-for="DireccionEnvio" class="form-control" />
                <span asp-validation-for="DireccionEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <textarea asp-for="Estado" class="form-control"></textarea>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
